.container-sup   
    width: 100vw
    display: flex 
    flex-direction: column
    padding: 20px
    gap: 20px
    & .title 
        height: 100%
        width: 100%
        display: flex
        flex-direction: column
        gap: 20px
        text-align: center
        & h3 
            font-weight: normal
    & .ducks
        height: 100%
        width: 100%
        display: flex
        flex-direction: column
        gap: 30px
        justify-items: center
        & .ducks-text
            height: 100%
            width: 100%
            display: flex
            justify-content: space-between
            flex-direction: column
            align-items: center
            & .ducks-text-title
                text-align: center
            & .ducks-text-button
                width: 200px
                margin: 30px
                background-color: #635DFF 
                border-radius: 20px
                text-align: center
                padding: 10px
                color: white
                font-size: 2rem
                transition: 600ms
        & img
            width: 100%
            

@media screen and (min-width: 40em)
    .container-sup
        height: 100vh
        width: 100vw
        display: grid
        grid-template-rows: 1fr 2fr
        & .title
            height: 100%
            width: 100%
            display: flex
            flex-direction: column
            justify-content: space-evenly
            text-align: center
        & .ducks
            height: 100%
            width: 100%
            display: grid
            grid-template-columns: 1fr 2fr
            gap: 30px
            justify-items: center
            & .ducks-text
                height: 100%
                width: 600px
                display: flex
                padding: 50px 0px
                justify-content: space-evenly
                flex-direction: column
                & .ducks-text-button
                    width: 200px
                    margin: 30px
                    background-color: #635DFF 
                    border-radius: 30px
                    text-align: center
                    padding: 10px
                    color: white
                    font-size: 2rem
                    transition: 600ms
                    cursor: pointer
                    &:hover
                        background-color: #DEDEFF
                        color: #635DFF 
                        font-size: 2.5rem
                        border: 3px solid #635DFF 
                        width: 250px       
            & img
                width: 100%
                border-radius: 10px

@media screen and (min-width: 1400px)
   .container-sup 
        width: 1200px
        margin: 0px auto   
        & .ducks
            gap: 60px
            justify-items: start
            & .ducks-text
                width: 700px
                