<div class="container-sup">
    <span class="title">
        <h1>Supervisa, Evalúa y Reporta tu operación</h1>
        <h3>Atomcheck es un app para supervisar tu tienda o restaurante.</h3>
    </span>
    <div class="ducks">
        <section>
            <img src="assets/img/ducks.png" >
        </section>
        <section>
        <div class="ducks-text">
            <h1 class="ducks-text-title">Mejora tu operación en tienda</h1>
            <p>Estandariza tu operación con un modelo de supervisión con base en checklists. Evalua de forma metódica los elementos más importantes de tu operación.  Transforma tu revisión en una calificación. </p>
            <a class="ducks-text-button">Inicia tu prueba</a>
        </div>   
        </section>
    </div>
</div>