.container-plan
    display: none
    
    
@media screen and (min-width: 40em)
    .container-plan
        height: 50vh
        width: 100vw
        display: grid
        grid-template-rows: 1fr 2fr
        padding: 30px
        text-align: center
        & .planes
            display: grid
            grid-template-columns: repeat(3,1fr)
            height: 100%
            width: 100%
