<div class="container-footer">
    <section class="bioretail">
        <a href="https://bioretail.com.mx/">
            <p>Powered by</p>
        <img src="assets/img/bioretail.png" alt="Bioretail">
        </a>
    </section>
    
    <div class="links-footer">
        <section class="links-column">
            <h3>Atomcheck</h3>
            <a href="">Características</a>
            <a href="">Precio</a>
            <a href="">Blog</a>
            <a href="">Conócenos</a>
        </section>
        <section class="links-column">
            <h3>Características</h3>
            <a href="">Editor de formularios</a>
            <a href="">App</a>
            <a href="">Plataforma</a>
            <a href="">Integraciones</a>
        </section>
        <section class="links-column">
            <h3>Recursos</h3>
            <a href="">Centro de soporte</a>
            <a href="">Documentación API</a>
            <a href="">Plantillas</a>
        </section>
        <section class="links-column">
            <h3>Social</h3>
            <a href="">Social</a>
            <a href="">Instagram</a>
            <a href="">Twitter</a>
            <h3>Contacto</h3>
            <a href="mailto:hola@bioretail.com.mx">hola@bioretail.com.mx</a>
        </section>
        <section class="links-column">
            <img src="assets/img/apps.png" alt="apps" class="app">

            <section class="icons">
                <a href="https://www.linkedin.com/company/atomcheck-app/" class="icon"> 
                    <img src="assets/img/linkedin.png" alt="Linkedin" class="black">
                </a>
                <a href="" class="icon"> 
                    <img src="assets/img/insta.png" alt="Instagran" class="black">
                </a>
                <a href="" class="icon"> 
                    <img src="assets/img/twitter.png" alt="Twitter" class="black">
                </a>
            </section>
        </section>
    </div>
    
</div>