<div class="container-app">
    <section class="section-apps">
        <section class="img-app">
            <img src="assets/img/afro.png" alt="Store checklist" class="afro">
        </section>
        <section class="text-app">
            <h1>El App</h1>
            <span class="text-app-content">Selecciona el checklist que quieres realizar, registra la ubicación, 
                contesta formularios de opción múltiple, guarda tus comentarios, toma evidencia con fotos, 
                levanta tickets de las incidencias, genera una calificación y envía el reporte.</span> <br>
                <img src="assets/img/apps.png" alt="Store checklist" class="apps">
        </section>
    </section>
    <section class="section-apps">

        <section class="img-app">
            <img src="assets/img/fax.png" alt="Store checklist" class="afro">
        </section>
        <section class="text-app">
            <h1>Editor formularios</h1>
            <span class="text-app-content">Toma tu checklist de papel u hojas de cálculo actual y transfórmalo en formularios digitales.
            Si actualmente no tienes los checklist o quieres detallarlos, puedes seleccionar los que quieras de nuestras plantillas. 
            Crea los checklist colocando preguntas abiertas o de selección múltiple, selecciona si es mandatorio el campo, 
            si quieres fotografía o algún comentario. Puedes agregar notas a las preguntas para facilitar la decisión al evaluador.
            En pocos minutos los puedes tener funcionales en tu aplicación.</span>
        </section>
        
    </section>
    <section class="section-apps">

        <section class="img-app">
            <img src="assets/img/guy.png" alt="Store checklist" class="afro">
        </section>
        <section class="text-app">
            <h1>Plataforma</h1>
            <span class="text-app-content">Planea y asigna la logística de revisión a tu equipo, 
                asigna el calendario de revisión de uno o más checklist. 
                Revisa las calificaciones de las evaluaciones, revisa los reportes y profundiza en qué puedes mejorar. 
                Si estás evaluando más de una sucursal, ve el resultado por grupos de sucursales. 
                Da seguimiento a las incidiencias por medio de tickets.</span>
        </section>

    </section>
</div>