<div class="plantilla-container">
    <h1 class="plantillas-metodos">Plantillas y métodos</h1>
    <section>
        <div class="plantilla-titulo">
            <img src="assets/img/check.png" alt="" class="plantilla-titulo-img">
            <h3>
                Te compartimos algunos checklist y herramientas hechos por nosotros y por la comunidad
            </h3>
        </div>

        <section class="plantillas">
            <div class="plantilla"><a href="https://mailchi.mp/c7e0aa06fc49/checklist-imagen-exterior" target="_blank"><img src="assets/img/exterior.png"  class="plantilla-cuadrado"> <p>Imagen Exterior</p></a></div>
            <div class="plantilla"><a href="https://mailchi.mp/8d3845408016/atomcheck-checklist-interior-tienda" target="_blank"><img src="assets/img/interior.png"  class="plantilla-cuadrado"><p>Imagen Interior de tienda</p></a></div>
            <div class="plantilla"><a href="https://mailchi.mp/7cca743c553f/atomcheck-checklist-banos-restaurante" target="_blank"> <img src="assets/img/baños.png" class="plantilla-cuadrado"><p>Check Baños</p></a></div>
            <div class="plantilla"><a href="https://mailchi.mp/bioretail/ebook-desarrollo-de-cultura" target="_blank"> <img src="assets/img/Ebook.png" class="plantilla-cuadrado"><p>eBook Cultura</p></a></div>
            <div class="plantilla"><a href="https://mailchi.mp/70b29fe1719e/atomcheck-checklist-drive-thru" target="_blank"> <img src="assets/img/drive.png" class="plantilla-cuadrado"><p>Drive-thru</p></a></div>

            <div class="plantilla"><a href="" target="_blank"><div class="plantilla-cuadrado"></div><p>Retroalimentación 1:1</p></a></div>
            <div class="plantilla"><a href="" target="_blank"><div class="plantilla-cuadrado"></div><p>Imagen exterior de  tienda</p></a></div>
            <div class="plantilla"><a href="" target="_blank"><div class="plantilla-cuadrado"></div><p>Imagen Interior de Restaurante</p></a></div>
 
        </section>
    </section>

    <section>
        <div class="plantilla-titulo">
            <img src="assets/img/file.png" alt="" class="plantilla-titulo-img">
            <h3>
                Te compartimos algunos articulos que te serán de ayuda para mejorar tu operación
            </h3>
        </div>

        <section class="plantillas">
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
        </section>
    </section>
    <section>
        <div class="plantilla-titulo">
            <img src="assets/img/cassete.png" alt="" class="plantilla-titulo-img">
            <h3>
                Aquí unos audios con algunas notas destacadas
            </h3>
        </div>

        <section class="plantillas">
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
            <div class="plantilla"><div class="plantilla-cuadrado"></div></div>
        </section>
    </section>

    <section></section>
    <section></section>
</div>