<menu>
    <section>
        <img src="assets/img/Atom.png" alt="Logo" class="logo">
    </section>
    <section class="buttons">
<a href="#" class="menu-button"> Caracteristicas</a>
<a href="#" class="menu-button"> Recursos</a>
<a href="#" class="menu-button"> Acceder</a>    
<a href="#" class="menu-button"> Registrarse</a>
    </section>
    <section class="icons">
        <a href="" class="icon"> 
            <img src="assets/ico/linkedin-B.svg" alt="Linkedin" class="black">
            <img src="assets/ico/linkedin-W.svg" alt="Linkedin" class="white">
        </a>
        <a href="" class="icon"> 
            <img src="assets/ico/instagram-B.svg" alt="Linkedin" class="black">
            <img src="assets/ico/instagram-W.svg" alt="Linkedin" class="white">
        </a>
        <a href="" class="icon"> 
            <img src="assets/ico/twitter-B.svg" alt="Linkedin" class="black">
            <img src="assets/ico/twitter-W.svg" alt="Linkedin" class="white">
        </a>
    </section>
</menu>