<div class="container-squares">
    <div class="square">
        <img src="assets/img/store.png" alt="Store" class="store">
        <section>
        <h3>Editor de Formularios</h3>
        <p>Sube tus preguntas o crea tu checklist con nuestras plantillas</p>
        </section>
    </div>

    <div class="square">
        <img src="assets/img/mail.png" alt="Store" class="store">
        <section>
        <h3>Envío de Checklist</h3>
        <p>Envío automático del checklist en cuanto se termine de evaluar</p>
        </section>
    </div>
    <div class="square">
        <img src="assets/img/lap.png" alt="Store" class="store">
        <section>
        <h3>Reportes y análisis</h3>
        <p>Obten el reporte de tu operación y da seguimiento a las tareas </p>
        </section>
    </div>
    <div class="square">
        <img src="assets/img/cel.png" alt="Store" class="store">
        <section>
        <h3>Recibe notificaciones</h3>
        <p>Recordatorios de fecha u horario, avisos de nueva evaluación realizada y nuevas incidencias.</p>
        </section>
    </div>
</div>